.first-view {
  width: 100%;
  height: 500px;
  background-image: url("/images/factory.jpg");
  background-size: cover;
  background-position: center;
}
.first-view h2 {
  font-size: 4rem;
  color: #fff;
  padding: 100px 0 0 50px;
}
.products,
.info {
  margin: 2rem 0;
  padding: 2rem;
}
.products h2,
.info h2 {
  margin: 0;
  color: #000854;
}
.products h2 span,
.info h2 span {
  font-size: 0.8rem;
}
.products .button,
.info .button {
  margin: 2rem auto;
  padding: 1rem 0;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 50px;
  cursor: pointer;
}
