body {
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
}
:visited,
:link {
  color: inherit;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(255,255,255,0.8);
}
header h1 {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000854;
}
header nav {
  margin-top: 0.7rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: nowrap;
}
header nav li {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0.3rem 0;
  color: #000854;
  font-weight: bold;
}
.content {
  margin-top: 55px;
}
.content h1 {
  text-align: center;
  margin: 2rem 0 0;
  color: #000854;
}
.content .subtitle {
  margin: 0 0 2rem;
  text-align: center;
}
.items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items li {
  width: 280px;
  margin: 1rem 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.items li .image {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
}
.items li h3 {
  text-align: center;
  margin: 1rem 0 0 0;
}
.items li .eng_name {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 0.6rem;
}
.items li .discription {
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: justify;
}
